.image1 {
  padding: 100px 0px 0px 0px;
  width: 85%;
  height: 85%;
  margin: auto;
}
.cardbody {
  margin: auto auto auto auto;
}
.textcenter {
  font-size: 18pt;
  font-variant: initial;
  font-weight: bold;
  margin-left: 3%;
  color: purple;
  padding-bottom: 5%;
}
.display-flex {
  display: flex;
}
.red-color-text {
    font-size: 20pt;
    font-variant: initial;
    font-weight: bold;
    color: red;
}
