body {
    height: 100%;
    margin: 0;
}

.king-image {
    margin: auto;
    /* padding-top: 25px; */
    padding: auto;
    width: 1020px;

}

.button-main-rigth {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    width: 40%;
}

.button-main-left {
    padding-top: 20px;
    display: block;
    margin-left: 20px;
    margin-right: auto;
    width: 40%;
}

@media only screen and (max-width: 990px) {
    .button-main-rigth {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .button-main-left {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}